---
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
---
<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro Blog</title>
  </head>
  <body class="bg-gray-50 text-gray-900">
    <Navbar />

    <main class="mx-auto max-w-5xl p-4">
      <slot />
    </main>
  </body>
</html>
